/*General Rules*/
 * body {
  font-family: Helvetica, sans-serif;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  flex-wrap: wrap;
  }

.content-container {
  padding-top: 70px;
}
/*Header Menu*/
  header {
    display: flex;
    position: fixed;
    height: 69px;
    width: 100% ;
    border-bottom: 1px solid seashell;
    z-index: 1;
  }
/* logo need fix*/
  #logo {
    display: inline-block;
    align-self: center;
    margin-left: 10px;
    height: 50px;
    width:167px;
  }

  nav{
    height: 69px;
    width: 100%;
    padding-left: 10px;
  }

/*parent to li*/
  ul {
    display: flex;
    justify-content: flex-end;
  }

   li {
    display: inline-block;
    font-size: 22px;
    padding: 10px;
  }

  a {
    color: seashell;
    }

/*Main Contenet*/

div {
  width:1200px;
  margin:0 auto;
  display: block;

}


#mission {

  top: auto;
  height: 700px;
  background-image: url("../resources/images/img-mission-background.jpg");
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  padding-top: 70px;
}

.message {
    display: block;
    width: 100%;
    background-color: black;
    align-self: center;
  }


.image-container {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;



}

.item {
  display:block;
  width: 300px;
}




img {
  height: 200px;
  width: 300px;
  margin: 20px;

}

span{
  text-align:center;
  font-size: 22px;
  font-weight: bold;
}
