/*General Rules*/
 * body {
  font-family: Helvetica, sans-serif;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  flex-wrap: wrap;
  }

/*Header Menu*/
  header {
    display: flex;
    height: 69px;
    width: 100% ;
    border-bottom: 1px solid seashell;
  }

  #logo {
    display: inline-block;
    align-self: center;
    padding-left: 10px;
    height: 50px
  }

  nav{
    height: 69px;
    width: 100%;
    padding-left: 10px;
  }

/*parent to li*/
  ul {
    display: flex;
    justify-content: flex-end;
  }

   li {
    display: inline-block;
    font-size: 22px;
    padding: 10px;
  }

  a {
    color: seashell;
    }

/*Main Contenet*/

div {
  width:1200px;
  margin:0 auto;
  display: block;
}

#mission {
  height: 700px;
  background-image: url("../resources/images/img-mission-background.jpg");
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.message {
    display: block;
    width: 100%;
    background-color: black;
    align-self: center;
  }

#featured {
  width: 1000px;
  display: flex;
}

#image-container{
  width: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;



}

.item {
  height: 200px;
  width: 300px;
  margin:10px;
  display: block;
}
