/*General Rules*/


 * body {
  font-family: Helvetica, sans-serif;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  }

/*Header Menu*/

header {
  display: flex;
  height: 69px;
  width: 1270px ;
  border-bottom: 1px solid seashell;
}


#logo {
  display: inline-block;
  align-self: center;
  padding-left: 10px;
  height: 50px

}

/*parent to li*/
nav{
  display: block;
  height: 69px;
  width: 1073px;
  padding-left: 10px;
}

ul {
  display: flex;
  justify-content: flex-end;
}

 li {
  display: inline-block;
  font-size: 22px;
  padding-left: 10px;

}

a {
  color: seashell;
}

/*Main Contenet*/

section {
  display: flex;
}

#mission {
  width: 1200px
  height: 700px;
  background-image: url("../images/img-mission-background.png");
}

}


/*
header {
  background-color: black;
  border-bottom: 1px color: seashell;
  height: 69px;
  width: 100%;
  align-items: center;
  position: fixed;
}
nav ul li {
  display: inline-block;
  justify-content: space-between;
  list-style-type: none;
}
a {
  color: seashell;
  font-size: 22px;
  justify-content: space-between;
